body {
  font-family: "Aller", "sans-serif";  /* just a custom font */
}

.navbar {
  background-color: rgb(123, 78, 139);
}

.navbar-item,
.navbar-burger span,
.navbar-item .title,
.navbar-item .navbar-link {
  color: rgb(216, 186, 227);
}

.image{
    opacity: 0.8; /* sets default view to a 80% opacity */
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 300px;
    height: 240px;
    border: 0.1em solid #ccc;
    border-radius: 0.4em;
    background-color: #f3f3f3;
    box-shadow: 0.1em 0.1em 0.5em -0.2em #777;
    margin: 1em 1em;
}

.image:hover {
    opacity: 1; /* sets default view to a 100% opacity when on hover state */
}

img {
    border-radius: 0.4em 0.4em 0em 0em; /* radius should be the same as the img-wrapper */
}

.pdf{
    height: 600px;
}
