{{define "title"}}Coloring Books{{end}}
{{define "body"}}
<div class="container">
<br>
<p>The sources can be examined here:</p>
<ul>
  <li>- <a href="https://github.com/mairin/coloringbook-container-commandos">Container commands</a></li>
  <li>- <a href="https://github.com/fedoradesign/coloringbook-containers">Containers</a></li>
  <li>- <a href="https://github.com/mairin/selinux-coloring-book">Selinux</a></li>
</ul>
<br>
{{range .images }}
  <object data="{{.}}" type="application/pdf" width="900" height="900" class="pdf">
    Your browser does not support pdfs, <a href="{{.}}">click here to download the file.</a>
  </object>
  </br>
  </br>
  </br>
{{end}}
</div>
{{end}}
