{{define "title"}}Julia Evans Comics{{end}}
{{define "body"}}
<div class="container">
<br>
<p>You may want to visit her <a href="https://wizardzines.com/">official webpage</a>!</p>
<br>
<div class="columns is-multiline">
{{range .images }}
<div class="column">
  <figure class="fancybox image is-5by4">
    <a class="fancybox" href="{{.}}">
      <img src="{{.}}">
    </a>
  </figure>
</div>
{{end}}
</div>
</div>
{{end}}
