{{define "title"}}Kubernetes{{end}}
{{define "body"}}
<!-- Está hardcodeado por que es horrible ordenar por nombre -->
<br>
<p align="center">You may want to check the <a href="https://cloud.google.com/kubernetes-engine/kubernetes-comic/">original</a>.</p>
<br>
<div class="container">
  <div class="columns is-multiline">
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/header.png">
          <img src="/comics/kubernetes/header.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-1_1x.png">
          <img src="/comics/kubernetes/panel-1_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-2_1x.png">
          <img src="/comics/kubernetes/panel-2_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-3_1x.png">
          <img src="/comics/kubernetes/panel-3_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-4_1x.png">
          <img src="/comics/kubernetes/panel-4_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-5_1x.png">
          <img src="/comics/kubernetes/panel-5_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-6_1x.png">
          <img src="/comics/kubernetes/panel-6_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-7_1x.png">
          <img src="/comics/kubernetes/panel-7_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-8_1x.png">
          <img src="/comics/kubernetes/panel-8_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-9_1x.png">
          <img src="/comics/kubernetes/panel-9_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-10_1x.png">
          <img src="/comics/kubernetes/panel-10_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-11_1x.png">
          <img src="/comics/kubernetes/panel-11_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-12_1x.png">
          <img src="/comics/kubernetes/panel-12_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-13_1x.png">
          <img src="/comics/kubernetes/panel-13_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-14_1x.png">
          <img src="/comics/kubernetes/panel-14_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-15_1x.png">
          <img src="/comics/kubernetes/panel-15_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-16_1x.png">
          <img src="/comics/kubernetes/panel-16_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-17_1x.png">
          <img src="/comics/kubernetes/panel-17_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-18_1x.png">
          <img src="/comics/kubernetes/panel-18_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-19_1x.png">
          <img src="/comics/kubernetes/panel-19_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-20_1x.png">
          <img src="/comics/kubernetes/panel-20_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-21_1x.png">
          <img src="/comics/kubernetes/panel-21_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-22_1x.png">
          <img src="/comics/kubernetes/panel-22_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-23_1x.png">
          <img src="/comics/kubernetes/panel-23_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-24_1x.png">
          <img src="/comics/kubernetes/panel-24_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-25_1x.png">
          <img src="/comics/kubernetes/panel-25_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-26_1x.png">
          <img src="/comics/kubernetes/panel-26_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-27_1x.png">
          <img src="/comics/kubernetes/panel-27_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-28_1x.png">
          <img src="/comics/kubernetes/panel-28_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-29_1x.png">
          <img src="/comics/kubernetes/panel-29_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-30_1x.png">
          <img src="/comics/kubernetes/panel-30_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-31_1x.png">
          <img src="/comics/kubernetes/panel-31_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-32_1x.png">
          <img src="/comics/kubernetes/panel-32_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-33_1x.png">
          <img src="/comics/kubernetes/panel-33_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-34_1x.png">
          <img src="/comics/kubernetes/panel-34_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-35_1x.png">
          <img src="/comics/kubernetes/panel-35_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-36_1x.png">
          <img src="/comics/kubernetes/panel-36_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-37_1x.png">
          <img src="/comics/kubernetes/panel-37_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-38_1x.png">
          <img src="/comics/kubernetes/panel-38_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-39_1x.png">
          <img src="/comics/kubernetes/panel-39_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-40_1x.png">
          <img src="/comics/kubernetes/panel-40_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-41_1x.png">
          <img src="/comics/kubernetes/panel-41_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-42_1x.png">
          <img src="/comics/kubernetes/panel-42_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-43_1x.png">
          <img src="/comics/kubernetes/panel-43_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-44_1x.png">
          <img src="/comics/kubernetes/panel-44_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-45_1x.png">
          <img src="/comics/kubernetes/panel-45_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-46_1x.png">
          <img src="/comics/kubernetes/panel-46_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-47_1x.png">
          <img src="/comics/kubernetes/panel-47_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-48_1x.png">
          <img src="/comics/kubernetes/panel-48_1x.png"></a>
      </figure>
    </div>
    <div class="column">
      <figure class="image">
        <a class="fancybox" href="/comics/kubernetes/panel-49_1x.png">
          <img src="/comics/kubernetes/panel-49_1x.png"></a>
      </figure>
    </div>
  </div>
</div>
</div>
{{end}}
