{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async type="text/javascript" src="/static/js/bulma.js"></script>
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.fancybox-1.3.4.pack.min.js"></script>
  <title>{{template "title"}}</title>
  <script type="text/javascript">
    $(function($){
        var addToAll = false;
        var gallery = true;
        var titlePosition = 'inside';
        $(addToAll ? 'img' : 'img.fancybox').each(function(){
            var $this = $(this);
            var title = $this.attr('title');
            var src = $this.attr('data-big') || $this.attr('src');
            var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
            $this.wrap(a);
        });
        if (gallery)
            $('a.fancybox').attr('rel', 'fancyboxgallery');
        $('a.fancybox').fancybox({
            titlePosition: titlePosition
        });
    });
    $.noConflict();
    </script>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"/>
      <h1><b>Gomic</b></h1>
      <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" onclick="toggleBurger()" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">Random</a>
        {{range .origins }}
        <a href="/{{. | ToLower}}/" class="navbar-item">{{.}}</a>
        {{end}}
      </div>
    </div>
  </nav>
  {{template "body" .}}
  <p align="center">Powered by <a href="https://git.daemons.it/drymer/gomic">Gomic</a></p>
</body>
</html>
{{end}}
