{{define "title"}}Random Comic{{end}}
{{define "body"}}
{{range .images }}
<br>
<p align="center">Refresh the page!</p>
<br>
<div class="container" align="center">
  <figure >
    <a class="fancybox" href="{{.}}">
      <img src="{{.}}" height="600" width="600">
    </a>
  </figure>
</div>
{{end}}
{{end}}
